{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>


<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Administração COSMET</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static 'css/cliente.css' %}">
<link rel="stylesheet" href="{% static 'css/creative.min.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>



</head>

<body id="page"> 

        <div class="container" >
<link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'>
 <div class="mail-box">
                  <aside class="sm-side">
                      <div class="user-head">
                          <p>COSMET</p>
                          <div class="user-name">
                              <span><a href="#">cosmet@email.com</a></span>
                          </div>
                          
                      </div>
                      <div class="inbox-body">
                          <a href="#myModal" data-toggle="modal"  title="Compose"    class="btn btn-compose">
                              Efetuar Venda
                          </a>
                          <!-- Modal -->
                          <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade" style="display: none;">
                              <div class="modal-dialog">
                                  <div class="modal-content">
                                      <div class="modal-header">
                                          <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                                          <h4 class="modal-title">Compose</h4>
                                      </div>
                                      <div class="modal-body">
                                          <form role="form" class="form-horizontal">
                                              <div class="form-group">
                                                  <label class="col-lg-2 control-label">To</label>
                                                  <div class="col-lg-10">
                                                      <input type="text" placeholder="" id="inputEmail1" class="form-control">
                                                  </div>
                                              </div>
                                              <div class="form-group">
                                                  <label class="col-lg-2 control-label">Cc / Bcc</label>
                                                  <div class="col-lg-10">
                                                      <input type="text" placeholder="" id="cc" class="form-control">
                                                  </div>
                                              </div>
                                              <div class="form-group">
                                                  <label class="col-lg-2 control-label">Subject</label>
                                                  <div class="col-lg-10">
                                                      <input type="text" placeholder="" id="inputPassword1" class="form-control">
                                                  </div>
                                              </div>
                                              <div class="form-group">
                                                  <label class="col-lg-2 control-label">Message</label>
                                                  <div class="col-lg-10">
                                                      <textarea rows="10" cols="30" class="form-control" id="" name=""></textarea>
                                                  </div>
                                              </div>

                                              <div class="form-group">
                                                  <div class="col-lg-offset-2 col-lg-10">
                                                      <span class="btn green fileinput-button">
                                                        <i class="fa fa-plus fa fa-white"></i>
                                                        <span>Attachment</span>
                                                        <input type="file" name="files[]" multiple="">
                                                      </span>
                                                      <button class="btn btn-send" type="submit">Send</button>
                                                  </div>
                                              </div>
                                          </form>
                                      </div>
                                  </div><!-- /.modal-content -->
                              </div><!-- /.modal-dialog -->
                          </div><!-- /.modal -->
                      </div>
                      <ul class="inbox-nav inbox-divider">
                          <li class="active">
                              <a href=""><i class="fa fa-plus"></i> Cadastrar Clientes</span></a>

                          </li>
                         	<li class="active">
                              <a href="#"><i class="fa fa-plus"></i> Cadastrar Produtos</span></a>

                          </li>
                          <li class="active">
                              <a href="#"><i class="fa fa-plus"></i> Cadastrar Fornecedores</a>
                          </li>
                          <li class="active">
                              <a href="#"><i class=" fa fa-search"></i> Consultar Clientes </a>
                          </li>
                          <li class="active">
                              <a href="#"><i class=" fa fa-search"></i> Consultar Vendas</a>
                          </li>
                          <li class="active">
                              <a href="#"><i class=" fa fa-search"></i> Consultar Produtos</a>
                          </li>
                      </ul>
                      <ul class="nav nav-pills nav-stacked labels-info inbox-divider">
                          <li> <h4>Labels</h4> </li>
                          <li> <a href="#"> <i class=" fa fa-sign-blank text-danger"></i> Work </a> </li>
                          <li> <a href="#"> <i class=" fa fa-sign-blank text-success"></i> Design </a> </li>
                          <li> <a href="#"> <i class=" fa fa-sign-blank text-info "></i> Family </a>
                          </li><li> <a href="#"> <i class=" fa fa-sign-blank text-warning "></i> Friends </a>
                          </li><li> <a href="#"> <i class=" fa fa-sign-blank text-primary "></i> Office </a>
                          </li>
                      </ul>
                      

                      <div class="inbox-body text-center">
                          <div class="btn-group">
                              <a class="btn mini btn-primary" href="javascript:;">
                                  <i class="fa fa-plus"></i>
                              </a>
                          </div>
                          <div class="btn-group">
                              <a class="btn mini btn-success" href="javascript:;">
                                  <i class="fa fa-phone"></i>
                              </a>
                          </div>
                          <div class="btn-group">
                              <a class="btn mini btn-info" href="javascript:;">
                                  <i class="fa fa-cog"></i>
                              </a>
                          </div>
                      </div>

                  </aside>
                  <aside class="lg-side">
                      <div class="inbox-head">
                          <h3></h3>
                          <form action="#" class="pull-right position">
                              <div class="input-append">
                                  <button class="btn sr-btn" type="button">SAIR <i class="glyphicon glyphicon-off"></i></button>
                              </div>
                          </form>
                      </div>
                      <div class="inbox-body">
                         
                    </div>
                          
                      </div>
                  </aside>
              </div>
</div>

<!--RODAPÉ-->
<footer> 
  
  

                <div id="">
                <ul class="">
                    <li>
                        <a i="nav1" class="page-scroll" href="#about">Sobre</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Services</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Produtos</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contato</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#local">Nos Encontrar</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="login.html">Entrar</a>
                    </li>
                </ul>

            </div>

            <div id="menurodape">
                <ul class="">
                    <li>
                        <a i="nav1" class="page-scroll" style="color: white" href="#about">Desenvolvido Com:</a>
                    </li>
                    <li>
                        <a i="nav1" class="page-scroll" href="#about">Boostrap</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Django</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">HTML</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">CSS</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#local">Python</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="https://github.com/pcego/cosmet.git" target="_blank">GIT (acesse o repositorio)</a>
                    </li>
                </ul>
            </div>
            


            <p>Copyright - Developed by: Alunos da FASA Faculdades Santo Agostinho - Sistemas de Informação - 4º periodo</p>

  
  </footer>





</body>
</html>